<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laboratorios</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'laboratorios/css/styles.css' %}">
</head>
<body>
    <h1>Lista de Laboratorios</h1>
    <div class="container">
        {% for laboratorio in laboratorios %}
        <div class="card">
            {% if laboratorio.imagen %}
                <img src="{{ laboratorio.imagen.url }}" alt="Imagen del laboratorio">
            {% else %}
                <p>No hay imagen disponible.</p>
            {% endif %}
            <div class="info">
                <h3>{{ laboratorio.titulo|safe }}</h3>
                <p>{{ laboratorio.descripcion|safe }}</p>
                <span>Fecha: {{ laboratorio.fecha }}</span>
                <a href="{% url 'laboratorio_detail' laboratorio.id %}">Ver Detalles</a>
            </div>
        </div>
        {% endfor %}
</body>
</html>
